@model SalesStatistics.Models.AutorizeModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 align="center">Авторизация</h3>


@if (SalesStatistics.BL.Helpers.AuthHelper.IsAuthenticated(Context))
{
    @SalesStatistics.BL.Helpers.AuthHelper.GetUser(Context).LastName<br />
    @Html.ActionLink("Выйти", "LogOff", "Account")<br />
}
else
{
    using (Html.BeginForm("LogIn", "Account", FormMethod.Post, new { @class = "form" }))
    {

        <div class="form_row">
           <label>Логин </label> @Html.TextBoxFor(l => l.LastName)
            <div style="float: right; color: red;">
                @Html.ValidationMessageFor(l => l.LastName)
            </div>
        </div>

        <div class="form_row">
            <label>Пароль </label>@Html.PasswordFor(l => l.Password)
            <div style="float: right; color: red;">
                @Html.ValidationMessageFor(l => l.Password)
            </div>
        </div>

        <div class="form_row">
            <input type="submit" value="Войти" />
        </div>
    }
}
