@model SalesStatistics.Models.AutorizeModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Login</h2>

@if (SalesStatistics.BL.Helpers.AuthHelper.IsAuthenticated(Context))
{
    @SalesStatistics.BL.Helpers.AuthHelper.GetUser(Context).LastName<br />
    @Html.ActionLink("Выйти", "LogOff", "Account")<br />
}
else
{
    using (Html.BeginForm("LogIn", "Account", FormMethod.Post, new { @class = "form" }))
    {
        <div class="form_row">
            @Html.TextBoxFor(l => l.LastName)
        </div>
        <div class="form_row">
            @Html.ValidationMessageFor(l => l.LastName)
        </div>
        <div class="form_row">
            @Html.PasswordFor(l => l.Password)
        </div>
        <div class="form-row">
            @Html.ValidationMessageFor(l => l.Password)
        </div>
        <div class="form_row">
            <input type="submit" value="Войти" />
        </div>
    }
}
